doctype html
html(ng-app="lobbyApp")
  head
    title Daily Casts Drafting
    link(rel="icon" href="images/favicon.ico?v=1")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous")
    // it's either have angular here, or use ng-cloak and redefine the relevant CSS here as well.
    // we serve it ourselves, so shouldn't be a problem.
    script(type="text/javascript" src="/angular/angular.js")
  body
    div(ng-controller="LobbiesController as lobby" class="container")
      div(class="col-md-6")
        h2 Create a Draft
        form(ng-submit="lobby.createDraft()")
          div(class="form-group")
            label(for="decklistUrl") Decklist URL:
            input(type="text" ng-model="lobby.decklistUrl" class="form-control" placeholder="Enter decklist URL")
          div(class="form-group")
            label(for="cardsPerDeal") Cards per deal:
            input(type="text" ng-model="lobby.cardsPerDeal" class="form-control" placeholder="Enter number of cards per round (TODO)")
          div
            button(type="submit" class="btn btn-default") Start
      div(class="col-md-6")
        h2 Join a Draft
        p(ng-show="!lobby.rooms.length") No drafts currently running.
        ul
          li(ng-repeat="room in lobby.rooms")
            a(href="room/{{room}}") {{room}}
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js")
    script(type="text/javascript" src="/socket.io/socket.io.js")
    script(type="text/javascript" src="/js/socketio.js")
    script(type="text/javascript" src="/js/lobby.js")
